.card {
	height: 250px;
	color: white;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50%), url("https://unsplash.it/250/300");
	background-size: cover;
	position: relative;	
	margin-bottom: 5px;
}

.card-category{
	position: absolute;	
	top: 10px;
	left: 10px;
}

.card-description {
	position: absolute;	
	bottom: 10px;
	left: 10px;
}

.card-image {
	position: absolute;	
	top: 10px;
	right: 10px;
}